* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

main {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#composer {
  width: 80%;
  max-width: 500px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#prompt-container {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: small;
  color: rgba(51, 51, 51, 1);  
  resize: none;
  overflow: hidden;
  outline: none;
  background-color: snow;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease, color 2s ease;
}

#prompt-container:hover, #prompt-container:focus {
  transform: scale(0.99);
  box-shadow: none;
}

#prompt-container:not(:hover):not(:focus) {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#send-button {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  border: none;
  border-radius: 10px;
  background-color: #333333;
  transition: transform 0.2s ease;
}

#send-button:hover:not(:disabled) {
  transform: scale(0.95);
}

#send-button:active:not(:disabled) {
  transform: scale(0.90);
}

.branding {
  text-align: center;
  font-family: "Nunito", sans-serif;
  line-height: 300%;
}

.logo {
  color: #333333;
  font-size: 64px;
}

.dot {
  color: orangered;
}

.tagline {
  font-weight: lighter;
  color: #666666;
}

footer {
  width: 100%;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
  background-color: #333333;

}

.signature {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: small;
  color: gray;
}

.author {
  color: snow;
  text-decoration: none;
}
